{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}
{% block title %}{% endblock %}

{% block links %}
<link rel='stylesheet' href='{% static "authentication/verification.css" %}'>
{% endblock %}
{% block content %}
  <form method='POST'>
    {% csrf_token %}
    <div style='text-align:center;'>
      <h1>ONE LAST STEP!</h1>
      <p class='highlight'>Enter Your Password to Confirm Your Identity</p>
    </div>
    {{ form.password|add_class:'password-input' }}
    <button>confirm</button>
  </form>
{% endblock %}
