form{
  border:2px solid black;
  border-radius:15px;
  display:flex;
  flex-direction: column;
  padding:10px;
  gap:5px;
  flex-shrink:1;
  margin:20%;
}

form input,button{  
  width:80%;
  margin:10px 10%;
  border:2px solid black;
  border-radius:20px;
  height:50px;
  font-size:25px;
  text-align:center;
}

@media(max-height:780px){
  form{
    margin:20%;
  }
}