.main-container{
  height:100%;
  width:100%;
  display:flex;
  justify-content: center;
  align-items:center;
  flex-shrink:1;
  flex-grow: 1;
}

form{
  border:2px solid black;
  border-radius:15px;
  display:flex;
  flex-direction: column;
  padding:10px;
  gap:10px;
  flex-shrink:1;
  box-shadow: 5px 5px 3px black;
  height:60%;
  width:70%;
  padding:20px;
}

form input,button{
  border:1px solid black;
  border-radius:15px;
}

form > *{
  font-size:40px;
  flex:1;
  display:flex;
  justify-content:center;
  align-items:center;
}

form button:active{
  background-color:black;
  color:white;
}

form p{
  flex:0.5;
  font-size:30px;
}