{% extends 'base.html' %}
{% load static %}
{% block title %}{% endblock %}
{% block links %}
  <link rel='stylesheet' href='{% static "navbar.css" %}'>
  <link rel='stylesheet' href='{% static "profiles/noprofile.css" %}'>
{% endblock %}
{% block content %}
  <div class='main-container'>
    <h1 class='highlight'>you dont have a profile yet</h1>
    <a href='{% url "profile-creation" %}'>setup your profile here</a>
  </div>
  {% include 'navbar.html' with current_route='profile' %}
{% endblock %}
{% block scripts %}
  <script src='{% static "js/navbar.js" %}'></script>
{% endblock %}