/* body{
  padding: 0;
}

.header{
  display:flex;
  padding:10px;
  align-items:center;
  border-bottom:1px solid black;
  margin-bottom:20px;
  justify-content: flex-start;
  background-color: white;
  position: fixed;
  width: 100%;
  top:0px;
}

.header .back-button{
  text-decoration: none;
  font-size:60px;
  color:black;
}

.main-container{
  display: flex;
  flex-direction: column;
  gap:3px;
  background-color: blue;
  margin-top: 40px;
  padding: 40px 0;
  padding-bottom: 150px;
}

.main-container > * {
  flex:1;
  max-height: 300px;
  overflow: hidden;
  flex-direction: column;
  margin: 10px 0;
}

.cart-product{
  display: flex;
  flex-shrink: 1;
  border: 2px solid green;
  overflow: hidden;
}

.cart-container{
  margin:5px;
}

.image-container{
  height:100%;
  width:100%;
  overflow:hidden;
  display:flex;
  align-items:center;
  justify-content:center;
  flex-shrink:1;
}


.cart-product{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media screen and (max-width:720px) {

  .cart-container{
    margin:10px;
    max-height: 250px;
  }

  .image-container > img{
    height:100%;
    width:100%;
  }
  
}

@media screen and (min-width:721px) {

  .cart-product{
    margin:0 15%;
    flex: 1;
  }

  .image-container > img{
    height:300px;
    width: 300px;
}  */



.cart-product{
  display:flex;
  flex-wrap:nowrap;
  flex-direction:row;
  margin-bottom:10px;
  border:3px solid black;
  border-radius:30px;
  box-shadow:4px 4px 8px black;
  justify-content:space-evenly;
  padding:0 15px;
  align-items:center;
  flex-shrink:1;
}

.image-container{
  height:250px;
  width:250px;
  overflow:hidden;
  display:flex;
  align-items:center;
  justify-content:center;
  border:2px solid black;
  border-radius:20px;
  flex-shrink:1;
}

.image-container > img{
  height:280px;
  width:280px;
}

.product-name{
  text-align:;
}

.cart-product > * {
  flex:1;
}

.cart-product > .product-detail{
  padding-left:5%;
  display:grid;
  grid-template-rows:1fr 3fr ;
}

.product-name{
  display:flex;
  align-items:center;
  flex-shrink:1;
}

.subdetail{
  display:flex;
  flex-direction:row;
  flex-shrink:1;
}

.subdetail .right-container{
  display:flex;
  flex-direction:row;
  align-items:center;
  flex-wrap:nowrap;
  width:100%;
  padding-bottom:40px;
  flex-shrink:1;
}

.amount-container{
  display:flex;
  flex-direction:row;
  justify-content:center;
  flex-shrink:1;
}

.amount-container *{
  width:50px;
  height:50px;
}

.right-container *{
  flex:1;
  flex-shrink:1;
}

.amount-container > input{
  text-align:center;
}

input[type='checkbox']{
  height:30px;
  width:30px;
}

.checkbox-container{
  display:flex;
  justify-content:center;
  flex-shrink:1;
}

.product-name{
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}

.subdetail .details{
  width:400px;
}


.amount-container button{
  color:black;
  background-color:white;
  border-radius:2px;
  font-size:20px;
}

.amount-container button:hover{
  color:white;
  background-color:black;
  cursor: pointer;
}

.price{
  font-size:40px;
}


.cart-container{
  width: 80%;
  display:flex;
  flex-shrink: 1;
  padding:10px 10%;
}


.cart-container > *{
  display:flex;
  flex-shrink: 1;
}


.header{
  display:flex;
  padding:10px;
  justify-content:;
  align-items:center;
  border-bottom:1px solid black;
  margin-bottom:10px;
}

.header .back-button{
  text-decoration: none;
  font-size:60px;
  color:black;
}

.main-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-shrink: 1;
} 

@media  screen and (max-height:780px) {
  .image-container{
    height:200px;
  }
  .image-container img{
    height:200px;
  }
} */