/* body{
  padding: 0;
}

.header{
  display:flex;
  padding:10px;
  align-items:center;
  border-bottom:1px solid black;
  margin-bottom:20px;
  justify-content: flex-start;
  background-color: white;
  position: fixed;
  width: 100%;
  top:0px;
}

.header .back-button{
  text-decoration: none;
  font-size:60px;
  color:black;
}

.main-container{
  display: flex;
  flex-direction: column;
  gap:3px;
  background-color: blue;
  margin-top: 40px;
  padding: 40px 0;
  padding-bottom: 150px;
}

.main-container > * {
  flex:1;
  max-height: 300px;
  overflow: hidden;
  flex-direction: column;
  margin: 10px 0;
}

.cart-product{
  display: flex;
  flex-shrink: 1;
  border: 2px solid green;
  overflow: hidden;
}

.cart-container{
  margin:5px;
}

.image-container{
  height:100%;
  width:100%;
  overflow:hidden;
  display:flex;
  align-items:center;
  justify-content:center;
  flex-shrink:1;
}


.cart-product{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media screen and (max-width:720px) {

  .cart-container{
    margin:10px;
    max-height: 250px;
  }

  .image-container > img{
    height:100%;
    width:100%;
  }
  
}

@media screen and (min-width:721px) {

  .cart-product{
    margin:0 15%;
    flex: 1;
  }

  .image-container > img{
    height:300px;
    width: 300px;
}  */

/* 

.cart-product{
  display:flex;
  flex-wrap:nowrap;
  flex-direction:row;
  margin-bottom:10px;
  border:3px solid black;
  border-radius:30px;
  box-shadow:4px 4px 8px black;
  justify-content:space-evenly;
  padding:0 15px;
  align-items:center;
  flex-shrink:1;
}

.image-container{
  height:250px;
  width:250px;
  overflow:hidden;
  display:flex;
  align-items:center;
  justify-content:center;
  border:2px solid black;
  border-radius:20px;
  flex-shrink:1;
}

.image-container > img{
  height:280px;
  width:280px;
}

.product-name{
  text-align:;
}

.cart-product > * {
  flex:1;
  display: flex;
  flex-shrink: 1;
}

.cart-product > .product-detail{
  padding-left:5%;
  display:grid;
  grid-template-rows:1fr 3fr ;
}

.product-name{
  display:flex;
  align-items:center;
  flex-shrink:1;
}

.subdetail{
  display:flex;
  flex-direction:row;
  flex-shrink:1;
}

.subdetail .right-container{
  display:flex;
  flex-direction:row;
  align-items:center;
  flex-wrap:nowrap;
  width:100%;
  padding-bottom:40px;
  flex-shrink:1;
}

.amount-container{
  display:flex;
  flex-direction:row;
  justify-content:center;
  flex-shrink:1;
}

.amount-container *{
  width:50px;
  height:50px;
}

.right-container *{
  flex:1;
  flex-shrink:1;
}

.amount-container > input{
  text-align:center;
}

input[type='checkbox']{
  height:30px;
  width:30px;
}

.checkbox-container{
  display:flex;
  justify-content:center;
  flex-shrink:1;
}

.product-name{
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}

.subdetail .details{
  width:400px;
}


.amount-container button{
  color:black;
  background-color:white;
  border-radius:2px;
  font-size:20px;
}

.amount-container button:hover{
  color:white;
  background-color:black;
  cursor: pointer;
}

.price{
  font-size:40px;
}


.cart-container{
  width: 80%;
  display:flex;
  flex-shrink: 1;
  padding:10px 10%;
}


.cart-container > *{
  display:flex;
  flex-shrink: 1;
}


.header{
  display:flex;
  padding:10px;
  justify-content:;
  align-items:center;
  border-bottom:1px solid black;
  margin-bottom:10px;
}

.header .back-button{
  text-decoration: none;
  font-size:60px;
  color:black;
}

.main-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-shrink: 1;
} 

@media  screen and (max-height:780px) {
  
}  */

.header{
  display:flex;
  padding:10px;
  align-items:center;
  border-bottom:1px solid black;
  margin-bottom:20px;
  justify-content: flex-start;
  background-color: white;
  position: fixed;
  width: 100%;
  top:0px;
}

.main-container{
  margin: 100px 0;
  /* border: 2px solid blue; */
  width: 100%;
  overflow: hidden;
  display: flex;
  gap: 5px;
  flex-wrap:wrap;
  justify-content: center;
}

.main-container > .cart-product{
  /* max-height: 230px; */
  overflow: hidden;
  /* border: 2px solid red; */
}

.cart-container{
  max-height: 230px;
  display: flex;
  border: 2px solid black;
  flex-shrink: 1;
}

.cart-product{
  display: grid;
  grid-template-columns: 1.3fr 2fr;
  grid-gap: 5px;
  margin: 2px;
  height:100%;
  width:100%;
  /* border: 1px solid black; */
}

.cart-product > *{
  overflow: hidden
  /* border: 2px solid green; */
}


.image-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 1;
  margin: 15%;
  max-height: 70%;
  max-width: 70%;
}

.image-container img{
  max-width: 100%;
  max-height: 100%;
  cursor: pointer;
}

.product-detail{
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-width: 100%;
}

.product-detail > *{
  /* border: 1px solid rebeccapurple; */
  min-width: 100%;
}

.product-name{
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.subdetail{
  flex-direction: column;
  flex-wrap: wrap;
  gap: 0;
  padding-left: 5px;
  padding-top: 15%;
  min-height: 100%  ;
}

.right-container{
  display: flex;
  max-width: 100%;
  max-height: 100%;
  flex-direction: column;
  flex-shrink: 1;
  min-height: 100%;
  /* background-color: burlywood; */
}

.right-container > *{
  flex-shrink: 1;
  /* border: 2px solid slategrey; */
  min-height: 50%;
  min-width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkbox-container{
  padding-bottom: 20px;
}



.amount-container *{
  width: 30px;
  height: 30px;
}

.amount-container{
  align-items: end;
}

.checkbox-container{
  align-items: start;
  padding-top: 15px;
}

input[type='checkbox']{
  height: 30%;
  width: 30%;
}

@media  screen and (min-width:780px) {

  .main-container > *{
    width: 45%;
  }

  .subdetail{
    font-size: small;
  }

}


@media  screen and (max-width:480px) {

  .main-container > *{
    width: 80%;
  }

  .cart-container{
   height: 170px;
   width: 90%;
   border: 1px solid black;
  }

  .subdetail{
    font-size: xx-small;
  }

  .amount-container > *{
    /* height: 40px;
    width: 40px; */
    border: 1px solid black;
  }

}


@media  screen and (max-height:1000px) {
  
  subdetail{
    font-size: xx-small;
  }

}