{% extends 'base.html' %}
{% load static %}
{% block title %}{% endblock %}
{% block links %}
<link rel='stylesheet' href='{% static "navbar.css" %}'>
{% endblock %}
{% block content %}

  <a href="{% url 'to-receive' %}">to receive</a>
  <a href="{% url 'received-orders' %}">received</a>
  <a href="{% url 'cancelled-orders' %}">cancelled</a> 

{% include 'navbar.html' with current_route='orders' %}
{% endblock %}
{% block scripts %}
<script src='{% static "js/navbar.js" %}'></script>
<script>
  $(document).ready(function(){
    var btn = $('div.order button');
    $(btn).click(function(){
      var order = $(this).closest('.order')
      $.ajax({
        url:'{% url "receive-order" %}',
        method:'POST',
        headers:{
          'X-CSRFToken':'{{ csrf_token }}',
          'Content-Type':'application/json'
        },
        data:JSON.stringify({
          'order_id':$(order).attr('id')
        }),
        success:function(response){
          $(order).find('button').toggle()
          $(order).append('<p>order received</p>')
        },
        error:function(){
          alert('error')
        }
      });
    });
  });
</script>
{% endblock %}