{% extends 'base.html' %}
{% load static %}
{% block title %}{% endblock %}
{% block links %}{% endblock %}
{% block content %}
  <h1>to receive</h1>
  {% for order in orders %}
  <div id='{{ order.id }}' class='order'>
  <p>{{ order.product.name }}</p>
  <button class='cancel'>cancel</button>
  <button class='confirm'>confirm receive</button>
  </div>
  {% endfor %}
{% endblock %}
{% block scripts %}
<script>
  $(document).ready(function(){
    
    $('.cancel').click(function(){
      var order = $(this).closest('.order')
      
      $.ajax({
        url:'{% url "cancel-order" %}',
        method:'POST',
        headers:{
          'X-CSRFToken':'{{ csrf_token }}',
          'Content-Type':'application/json'
        },
        data:JSON.stringify({
          'order_id':$(order).attr('id')
        }),
        success:function(){
          $(order).toggle()
        },
        error:function(){
          alert('error')
        }
      });
      
    });
    
    $('.confirm').click(function(){
      
      var order = $(this).closest('.order')
      $(order).toggle()
      
    });
    
  });
</script>
{% endblock %}