
.header{
  display:flex;
  padding:10px;
  align-items:center;
  border-bottom:1px solid black;
  margin-bottom:20px;
  justify-content: flex-start;
  background-color: white;
  position: fixed;
  width: 100%;
  top:0px;
}

.product-on-view{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
  height: 100%;
  margin-bottom: 20px;
}

.product-on-view > * {
  flex: 1;
  flex-grow: 1;
  flex-shrink: 1;
}

.product-on-view .image-container{
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 50px; */
}

.product-on-view .image-container img{
  object-fit: contain;
}

.product-on-view .detail-container{
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}


/* 
.product-on-view .image-container{
  display:flex;
  justify-content: center;
  align-items: center;
  border-bottom:2px solid black;
}

.product-on-view .image-container img{
  max-height:600px;
  min-height:600px;
}

.product-on-view .detail-container{
  border-bottom:2px solid black;
  padding-left:5px;
} */

.shop-products-container{
  display:flex;
  overflow-x: auto;
  flex-wrap: nowrap;
  border-bottom:2px solid black;
  border-bottom:2px solid black;
  padding:5px;
  gap:5px;
}

.shop-products-container > *{
  flex-shrink: 0;
}

.footer{
  position:fixed;
  bottom:0px;
  width:100%;
  border-top:2px solid black;
  height:10%;
  display:flex;
  justify-content: flex-end;
  align-items:center;
  padding-right:30px;
  margin-right:10px;
  background-color: white;
}

.footer button{
  border-top:2px solid black;
  height:80%;
  width:30%;
  gap:10px;
  font-size:40px;
  font-weight:10px;
}

.footer button:active{
  background-color:black;
  color:white;
}

.footer > *{
  border:2px solid black;
  margin:10px;
}

.counter{
  display:none;
  width:100%;
  height:40%;
  position:fixed;
  bottom:0px;
  border:2px solid black;
  background-color:white;
  padding-right:5px;
}

.counter .content{
  display:flex;
  background-color:red;
  flex-direction:column;
  height:100%;
  width:100%;
}

.top-container{
  margin-left:5px;
  display:flex;
  justify-content:flex-end;
  padding-right:5px;
}

.top-container button{
  margin-top:4px;
  height:50px;
  width:50px;
  font-size:40px;
  background-color:white;
  border:1px solid black;
  border-radius:360px;
}

.top-container button:active{
  color:white;
  background-color:black;
}

.content .middle-container{
  display:flex;
  background-color:green;
  
}

.middle-container img{
  height:150px;
  width:150px;
}
 
@media screen and (max-width:1080px) {
  .product-on-view{
    height: 400px;
    flex-direction: column;
  }

  .product-on-view .detail-container{
    justify-content: center;
  }

  .product-on-view .detail-container > .details{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
    padding-left: 20px;
    gap: 20px;
  }
}

@media screen and (min-width:1081px) {
  .product-on-view{
    height: 500px;
  }
  
  .product-on-view .detail-container{
    justify-content: flex-start;
  }
}