.product-container{
  height:390px;
  width:280px;
  border:2px solid black;
  border-radius:5px;
  cursor: pointer;
}

.product-container .img-container{
  height:250px;
  width:90%;
  margin:5px 5%;
  border:2px solid black;
  border-radius: 10px;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.product-container .img-container img{
  max-height:250px;
}

.product-container .product-name{
  margin:5%;
  text-align: left;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.product-container .detail-container{
  display: flex;
  flex-direction: row;
  flex-wrap:nowrap;
  flex-grow:0;
  max-height:53px;
  padding:0 5%;
}

.product-container .detail-container > *{
  flex:1;
}

.product-container .detail-container .rating{
  display: flex;
  flex-shrink: 1;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

.product-container .button-container{
  display: flex;
  padding:0 5%;
  gap: 5px;
}

.product-container .button-container button{
  height:53px;
  flex:1;
  border: 1px solid black;
  border-radius: 10px;
}

.product-container .button-container button:hover{
  background-color: black;
  color:white;
  cursor: pointer;
}