.nav-bar{
  height:100px;
  width:100%;
  margin:0;
  display:flex;
  position:fixed;
  bottom:0px;
  background-color:white;
  border-top:2px solid black;
}

.nav-bar > *{
  flex:1;
  display:flex;
  justify-content:center;
  align-items:center;
}

#current-route{
  background-color:black;
  color:white;
}

.nav-btn:hover{
  color:white;
  background-color:black;
  cursor: pointer;
}

.nav-bar p{
  font-size:30px;
}

@media(max-width:1000px){
  .nav-bar p{
    font-size: 20px;
  }
}