{% load static %}
<html>
  <head>
    <title>
      {% block title %}
      {% endblock %}
    </title>
    <link rel='stylesheet' href='{% static "styles.css" %}'>
      {% block links %}
      {% endblock %}
    <style>
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap')
</style>
    <style>
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,400;1,500&family=Roboto:wght@500&display=swap')
</style>
  </head>
  
  <body>
    {% block content %}
    {% endblock %}
    <script src="https://code.jquery.com/jquery-3.7.0.min.js">
    </script>
  {% block scripts %}
  {% endblock %}
  </body>
</html>