{% load static %}
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {% block title %}
      {% endblock %}
    </title>
    <link rel='stylesheet' href='{% static "styles.css" %}'>
      {% block links %}
      {% endblock %}
      <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,400;1,500&family=Roboto:wght@500&display=swap');
      </style>      
  </head>
  
  <body>
    {% block content %}
    {% endblock %}
    <script src='{% static "js/jquery-3.7.1.js" %}'></script>
    {% block scripts %}
    {% endblock %}
  </body>
</html>