{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block links %}
<link rel='stylesheet' href='{% static "main/index.css" %}'>
{% endblock %}

{% block content %}
  <div class='main-container'>
    <h1 class='highlight'>Welcome to This site</h1>
    <p>a site where you are likely to get scammed</p>
    <button class='highlight'>CONTINUE</button>
  </div>
{% endblock %}
{% block scripts %}
<script>
  $(document).ready(function(){
    $('button').click(function(){
      window.location.href = '{% url "products" %}'
    });
  });
</script>
{% endblock %}