{% extends 'base.html' %}
{% load custom_tags %}
{% load static %}
{% block links %}
  <link rel="stylesheet" href="{% static 'products/detail.css' %}">
  <link rel="stylesheet" href="{% static 'products/product.css' %}">
{% endblock %}
{% block content %}
  <div class='header'>
    <a href='{% url "products" %}' class='highlight back-button' style="padding-left:10px;">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="50" height="50">
        <path d="M20 11H7.414l4.293-4.293a1 1 0 0 0-1.414-1.414l-6 6a1 1 0 0 0 0 1.414l6 6a1 1 0 0 0 1.414-1.414L7.414 13H20a1 1 0 0 0 0-2z"/>
      </svg>
    </a>
  </div>

 <div class='product-on-view'>
  <div id='{{ product.id }}' class='image-container'>
    <img class='product-on-view' src='{{ product.image.url }}'>
  </div>
  <div class='detail-container'>
    <div class="details">
      <h1 class='highlight'>{{ product.name }}</h1>
      <h1 class='highlight'>${{ product.price }}</h1>
      <p class="{% if product.sold == 0 %}empty{% endif %}">({{ product.sold }})sold</p>
      <p class="{% if product.rating_ave == 0 %}empty{% endif %}">{% if product.rating_ave is not None %}{{ product.rating_ave }}{% else %}0{% endif %}(⭐)</p>
    </div>
  </div>
</div>
  {% if product.shop_origin.products.all.count >= 2 %}
    <h1 class='highlight' style="margin-top:50px; border-top:2px solid black;"> 
      FROM THE SAME SHOP
    </h1>
    <div class='shop-products-container'>
      {% for each in product.shop_origin.products.all %}
        {% if each.id != product.id %}
          {% include 'products/product.html' with product=each %}
        {% endif %}
      {% endfor %}
    </div>
  {% endif %}
  <div class='footer'>
    <button id='add' class='highlight'>add to cart</button>
    <button id='buy' class='highlight'>buy now</button>
  </div>
  
  <div class='counter' style='z-index:999;'>
    <div class='content'>
      
      <div class='top-container'>
        <button class='highlight cross-button'>X</button>
      </div>
      <div class='middle-container'>
        <img src='{{ product.image.url }}'>
        <h1>another shit</h1>
        <h1>another shit</h1>
      </div>
    </div>
  </div>
{% endblock %}
{% block scripts %}
<script>
  $(document).ready(function(){
    
    var counter = $('.counter')
    $(counter).hide()
    
    $('button#buy').click(function(){
      $(counter).toggle()
    });
    
    $('.top-container button').click(function(){
      $(counter).toggle()
    });

    
  });
</script>
{% endblock %}