{% extends 'base.html' %}
{% load custom_tags %}
{% load static %}
{% block links %}
  <link rel="stylesheet" href="{% static 'products/detail.css' %}">
  <link rel="stylesheet" href="{% static 'products/product.css' %}">
{% endblock %}
{% block content %}
 <div class='product-on-view'>
  <div id='{{ product.id }}' class='image-container'>
    <img class='product-on-view' src='{{ product.image.url }}'>
  </div>
  <div class='detail-container'>
  <h1 class='highlight'>{{ product.name }}</h1>
  </div>
</div>
  <h1 class='highlight'>
    FROM THE SAME SHOP
  </h1>
  <div class='shop-products-container'>
    {% for each in product.shop_origin.products.all %}
      {% if each.id != product.id %}
        {% include 'products/product.html' with product=each %}
      {% endif %}
    {% endfor %}
  </div>
  
  <div class='footer'>
    <button id='add' class='highlight'>add to cart</button>
    <button id='buy' class='highlight'>buy now</button>
  </div>
  
  <div class='counter' style='z-index:999;'>
    <div class='content'>
      
      <div class='top-container'>
        <button class='highlight cross-button'>X</button>
      </div>
      <div class='middle-container'>
        <img src='{{ product.image.url }}'>
        <h1>another shit</h1>
        <h1>another shit</h1>
      </div>
    </div>
  </div>
{% endblock %}
{% block scripts %}
<script>
  $(document).ready(function(){
    
    var counter = $('.counter')
    $(counter).hide()
    
    $('button#buy').click(function(){
      $(counter).toggle()
    });
    
    $('.top-container button').click(function(){
      $(counter).toggle()
    });

    
  });
</script>
{% endblock %}