{% extends 'base.html' %}
{% load static %}
{% block title %}
  products
{% endblock %}
{% block links %}
<link rel='stylesheet' href='{% static "products/styles.css" %}'>
{% endblock %}

{% block content %}
  <div class='outer-container'>
  {% for product in products %}
    {% include 'products/product.html' with product=product %}
  {% endfor %}
  </div>
{% endblock %}
{% block scripts %}
  <script>
  $(document).ready(function(){
  var buttons = $('.button-container').children()
  $(buttons).each(function(){
    $(this).first().click(function(){
      
      $(this).text('clicked')
      
      var id = $(this).parent().attr('class');
      
      alert(id)
      
     
    })
  })
)
  </script>
{% endblock %}