{% load static %}

<link rel='stylesheet' href='{% static "products/product.css" %}'>

<div class='product-container'>
  <div class='img-container'>
  <img src='{{ product.image.url }}'>
  </div>
  <h1 class='product-name'>{{ product.name }}</h1>
  <div class='detail-container'>
  <p>${{ product.price }}</p>
  <p>
    {{ product.sold }} sold
  </p>
  {% if product.rating_ave %}
  <p>
    ({{ product.reviews.all|length }})
    ⭐{{ product.rating_ave }}
  </p>
  {% else %}
  <p class='empty'>no ratings yet</p>
  {% endif %}
  </div>
  <div id='{{ product.id }}' class='button-container'>
    <button>Add to Cart</button>
    <button>Buy Now</button>
  </div>
</div>
