{% load static %}

<div id='{{ product.id }}' class='product-container product'>
  <div class='img-container'>
  <img src='{{ product.image.url }}' onclick="window.location.href='{%url 'product-detail' pk=product.id %}'">
  </div>
  <h1 class='product-name highlight' onclick="window.location.href='{%url 'product-detail' pk=product.id %}'">{{ product.name }}</h1>
  <div class='detail-container' onclick="window.location.href='{%url 'product-detail' pk=product.id  %}'">
    <p>${{ product.price }}</p>
    <p>{{ product.sold }} sold</p>
      {% if product.rating_ave %}
        <p class="rating">({{ product.reviews.all|length }})⭐{{ product.rating_ave }}</p>
      {% else %}
        <p class='empty rating'>no ratings yet</p>
      {% endif %}
  </div>
  <!-- <div class='button-container'>
    {% if product in user.cart.products.all %}
    <button onclick='location.href="{% url 'cart' %}"'>Go to Cart</button>
    {% else %}
    <button class='add-button'>Add to Cart</button>
    {% endif %}
    <button>Buy Now</button>
  </div> -->
</div>
